* {
    font-family: 'Quicksand', sans-serif;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

h1{
  color: #690000;
  text-align: center;
}

/* input */
.group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 465px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #ff0f0f;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #ff4655;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 480px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ff0f0f;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #ff4655;
    }
   
    to {
     width: 500px;
    }
   }

   /* button */
   .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    width: 250px;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff1b1b;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  
  /* card */
  .output-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .card {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    height: 280px;
  }

  .card-image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 5px #515151;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
  }

  .card:hover img {
    transform: scale(1.02);
  }

  .card:hover a {
    color: #fff;
    transition: 0.3s;
  }
  
  /* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  } */

  a {
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.3;
    color: #0f1923;
    font-size: small;
  }
  
  /* .content  */
  .btn {
    color: #414141;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #ff4655 0%, #ff0f0f 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #ff4655 0%, #ff0f0f 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover::before {
    height: 100%;
  }

  /* showmorebutton */
.btn-more {
  display: inline-block;
  width: 130px;
  height: 30px;
  border-radius: 7px;
  border: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  cursor: pointer;
 }
 
 .btn-more::before,
 .btn-more::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 .btn-more::before {
  left: -10px;
  background: #ff4655;
 }
 
 .btn-more::after {
  right: -10px;
  background: #ff0f0f;
 }
 
 .btn-more:hover::before,
 .btn-more:hover::after {
  width: 58%;
 }
 
 .btn-more:hover span {
  color: #fafafa;
  transition: 0.3s;
 }
 
 .btn-more span {
  font-weight: bold;
  color: #ff0f0f;
  font-size: 16px;
  transition: all 0.3s ease-in;
 }

 .show-more-btn {
  display: flex;
  justify-content: center;
 }

 .btn-more {
  display: none;
 }